@font-face {
  font-family: "iconfont"; /* Project id 3131652 */
  src: url('iconfont.woff2?t=1642471559713') format('woff2'),
       url('iconfont.woff?t=1642471559713') format('woff'),
       url('iconfont.ttf?t=1642471559713') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-caozuo:before {
  content: "\e60c";
}

.icon-liebiao:before {
  content: "\e603";
}

.icon-shitu-kapian:before {
  content: "\e814";
}

.icon-zhiboshenqing:before {
  content: "\e69e";
}

.icon-xiala:before {
  content: "\e6aa";
}

.icon-tongji:before {
  content: "\e642";
}

.icon-peizhi-zhongduanpeizhi:before {
  content: "\e61b";
}

.icon-yunzhibo:before {
  content: "\e634";
}

.icon-tishi:before {
  content: "\e661";
}

.icon-bangongpingtai:before {
  content: "\e609";
}

.icon-yonghuguanli-yonghuguanli:before {
  content: "\e61a";
}

.icon-chenggong:before {
  content: "\e671";
}

.icon-xinhao:before {
  content: "\e61f";
}

.icon-tianchongxing-:before {
  content: "\e633";
}

.icon-_shezhi:before {
  content: "\e659";
}

.icon-geren:before {
  content: "\e6be";
}

.icon-menu_sqgg:before {
  content: "\e65b";
}

.icon-yuyinguanbi:before {
  content: "\e903";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-wuzhibohuamian:before {
  content: "\e6c7";
}

.icon-jushoux:before {
  content: "\e60a";
}

.icon-guaduan:before {
  content: "\e616";
}

.icon-shipin1:before {
  content: "\e602";
}

.icon-gengduo:before {
  content: "\e73a";
}

.icon-dianhua:before {
  content: "\e8c3";
}

.icon-gonggao1:before {
  content: "\e620";
}

.icon-guanbishipin:before {
  content: "\e724";
}

.icon-shengyinzuixiao:before {
  content: "\e6c6";
}

.icon-guanbishengyin:before {
  content: "\e6c5";
}

.icon-shengyin:before {
  content: "\e6ed";
}

.icon-suoxiao-copy:before {
  content: "\e64d";
}

.icon-fangda-copy:before {
  content: "\e64e";
}

.icon-guanbishexiangtou:before {
  content: "\e6c4";
}

.icon-shexiangtou:before {
  content: "\e7cd";
}

.icon-yuyin:before {
  content: "\e6eb";
}

.icon-guanbiyuyin:before {
  content: "\e6ec";
}

.icon-tupian:before {
  content: "\e606";
}

.icon-biaoqing:before {
  content: "\e612";
}

.icon-bianzu15:before {
  content: "\e614";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-31dianhua:before {
  content: "\e601";
}

.icon-yingyongzhongxin:before {
  content: "\e623";
}

.icon-wendang:before {
  content: "\e66e";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

